

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 15px;
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
 }

 @media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
 
 
  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }
  } 
 

  .skip a{
    position: absolute;
    top: -40px;
    }

  .skip a:focus{
     top:20px;
      
    }

    body:focus{
      border: 2px solid;
      }
     
     
   
header img{
  padding-left: 15px;
  width: 70px;
  
}
  
  .nav_links{
    display:flex;
    flex-direction: row;
    padding-right: 10px;

}

.nav_item a{
  font-size: 20px;
}
a{
  color:black;
}

a:link, a:visited{
  color:black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 .nav_item a{
    padding: 10px;
    text-decoration: none;
  }
  
  .nav_item a:hover, a:focus{
    color: #5427af;
    text-decoration: none;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
  }


  #active {font-weight:bold; background-color: lightgoldenrodyellow}


  header{
    background-color: lightpink;
    background: #fff;
    border-bottom: 3px solid rgb(238, 238, 23);
    
  }

  body a + header{
    flex-direction: row;
    justify-content: space-between;
    }

 
    .nav_item{
      background-color: white;
      padding-right: 10px;
      padding: 10px;
      padding-left: 4px;
      padding-right: 4px;
      align-self: center;
    }

    .homepageh1{
      font-size: 350%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding-left: 20px;
    }

  

    /*
    h1{
      padding-top: 100px;
    }
    
    body a + header{
      position:fixed;
      z-index: 1000;
      width: 100%;
  } */

  .digitaldesigns{
    padding-top: 15px;
  }

 

  .highlights h2{
    font-size: 40px;
    padding-bottom: 5px;
    padding-left: 20px;
    color:  rgb(73, 73, 36);
  }

  .homeimg, .homepageh1 {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    
  }

  .homeimg{
    margin-top: 10px;
    align-self: center;
  }


.highlights h2{
  margin-top: 100px;
}

body::-webkit-scrollbar{
  display: none;
}
/*scroll on home page style*/

.media-scroller{
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 20px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-bottom:200px;
}

.media-scroller::-webkit-scrollbar{
  display: none;
}

.media-element{
  display: grid;
  grid-template-rows: min-content;
  background-color:white;
  padding-bottom: 10px;
}

.media-element > p{
  padding-left: 20px;
}

.media-element > img{
  height: 400px;
  width: auto;
  object-fit:cover;
  border: white 2px solid;
  
}

.media-element > p:hover, p:focus{
  background-color: lightgoldenrodyellow;
  
}

.myworkclassy h1 {
  font-size: 60px;
  margin-left: 20px;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.myworkclassy1 h1 {
  font-size: 60px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-bottom: 50px;
  text-align: center;
}

div.myworkclass{
  display: grid;
  width: 90%;
  background-color: white;
  justify-content: center;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  overflow: stretch;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  justify-items: center;
}


div.myworkclass h2:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  text-align: center;
}

div.myworkclass h2:nth-child(3){
  grid-area: 1 / 2 / 2 / 3 ;
  width: 100%;
  text-align: center;
}

div.myworkclass h2:nth-child(5){
grid-column-start: 3;
grid-column-end: 4;
width: 100%;
text-align: center;
}

div.myworkclass a:nth-child(2){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
 }
 div.myworkclass a:nth-child(2) img{
  width: 100%;
  margin-bottom: 30px;
 }

 div.myworkclass a:nth-child(4){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
 }
 div.myworkclass a:nth-child(4) img{
  width: 100%;
  margin-bottom: 30px;
 }

 div.myworkclass a:nth-child(6){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
 }
 div.myworkclass a:nth-child(6) img{
  width: 100%;
  margin-bottom: 30px;
 }

 div.myworkclass h2:nth-child(7){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
 }

 div.myworkclass h2:nth-child(9){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
 }

 div.myworkclass a:nth-child(8){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
 }
 div.myworkclass a:nth-child(8) img{
  width: 100%;
  margin-bottom: 30px;
 }

 div.myworkclass a:nth-child(10){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
 }
 div.myworkclass a:nth-child(10) img{
  width: 100%;
  margin-bottom: 30px;
 }

 div.myworkclass h2:nth-child(11){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
 }

 div.myworkclass a:nth-child(12){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
 }
 div.myworkclass a:nth-child(12) img{
  width: 100%;
  margin-bottom: 30px;
 }

 div.myworkclass h2:nth-child(13){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
 }

 div.myworkclass a:nth-child(14){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
 }
 div.myworkclass a:nth-child(14) img{
  width: 100%;
 }

 div.myworkclass h2:nth-child(15){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
 }

 div.myworkclass a:nth-child(16){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
 }
 div.myworkclass a:nth-child(16) img{
  width: 100%;
 }

 div.myworkclass h2:nth-child(17){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
 }

 div.myworkclass a:nth-child(18){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
 }
 div.myworkclass a:nth-child(18) img{
  width: 100%;
 }
 

 



 div.myworkclass a img{
  border: 5px white solid;
  
 }
 div.myworkclass a img:hover, img:focus{
  border: 5px rgb(238, 238, 23) solid;

 }

 div.myworkclass h2{
  font-size: 20px;
 }



 body:focus{
  border: 2px solid;
  }

  
/* next section*/

@media only screen and (min-width: 700px)
 {
 /* .homeimg {
    float: none;
    padding-right: 15px;
    display: inline;
    padding-left: 270px;
  }*/
 }

 
  .homepageh1{
    font-size: 400%;
  }
 


 @media only screen and (min-width: 1044px)
 {
  .homepageh1{
    font-size: 500%;
  }
 }

 @media only screen and (min-width: 1136px)
 {
  .homepageh1{
    font-size: 550%;
  }
 }
